<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMxmqKGQxucSWe8EULUrXFf8lG4v78sVU</string>
	<key>GCM_SENDER_ID</key>
	<string>1034982375902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.max.ecomaxgo.maxpay</string>
	<key>PROJECT_ID</key>
	<string>maxpe-f2539</string>
	<key>STORAGE_BUCKET</key>
	<string>maxpe-f2539.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034982375902:ios:9e2252eb0c656a7dd29d4f</string>
</dict>
</plist>