<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>upi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>upi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>collect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>collect</string>
			</array>
		</dict>
	</array>
	<key>MinimumOSVersion</key>
	<string>17.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>https://pingupi.axisbank.co.in/</key>
			<string>NSExceptionAllowsinsecureHTTPLoads</string>
		</dict>
	</dict>
	<key>NSCameraReactionEffectGesturesEnabledDefault</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>cards.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Black.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
